[model]
context_len = 168
pred_len = 24
num_encoder_layers = 3
num_decoder_layers = 3
d_model = 512
nhead = 8
dim_feedforward = 1024
dropout = 0.0
activation = 'gelu'
continuous_loads = true
ignore_spatial = false
continuous_head = 'gaussian_nll'
weather_inputs = ['temperature', 'humidity']

[pretrain]
batch_size = 64
init_scale = 0.02
warmup_steps = 10000
lr = 0.00006
train_tokens = 1000000000
apply_scaler_transform = 'boxcox'

[zero_shot]
apply_scaler_transform = 'boxcox'

[transfer_learning]
apply_scaler_transform = 'boxcox'