wandb/
checkpoints/
checkpoints.tar.gz
results/
site/
*.egg-info/
scripts/creating_buildings_bench/
*/__pycache__/
*/*/__pycache__/
build/
dist/
hpc/
.DS_Store
scratch/
tutorials/.ipynb_checkpoints/
dev/